@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.titulo{
    text-align: center;
    background-color: rgb(165, 209, 165);
}

.descricao{
    width:25%;
    height: 100%;
}
